body {
  background: #6e28d9;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  margin: 20px auto
}

img {
  display: block;
  margin: 20px auto
}

